:root{
  --salmon: #EF9D71;
  --black: #000;
  --white: ■#fff;
  --cyan: #aedee0;
  --dsalmon: #532521;
  --dcyan: #1f2f32;
}

body{
  transition: background-color ease-out .5s;
} 

.vdodiv{
  clip-path: circle(var(--clip) at 50% 50%);
}

*::selection{
  background-color: var(--salmon);
}

body[theme="black"]{
  background-color: var(--black);
  color: white;
}

body[theme="cyan"]{
  background-color: var(--cyan);
  color: var(--dcyan);
}

body[theme="salmon"]{
  background-color: var(--salmon);
  color: var(--dsalmon);
}

body[theme="white"]{
  background-color: var(--white);
}
